
@{
    ViewData["Title"] = "Index";
}

<h6>Thane</h6>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });
    </script>
}
