
@{
    ViewData["Title"] = "Term";
}

<h1>Term</h1>
<h1>Under Construction</h1>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });
    </script>
}