
@{
    ViewData["Title"] = "Womens";
}


<table class="table table-bordered table-bordered table-responsive table-responsive-lg table-responsive-md">
    <thead>
        <tr>
            <th>Product List</th>
            <th>Product Description</th>
            <th></th>
            <th></th>
        </tr>


    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/Img/image2.jpg" />

            </td>
            <td>
                Buying sunglasses for men online can be tricky <br /> since you cannot test the tangible quality of the product or experience the comfort of wearing them. <br /> Head over to your nearest Gangar Eyenation store to browse through the most stylish sunglasses for men and gifting yourself an accessory that becomes your new style statement

            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Bulk Enquiry</button>
            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Order Online</button>
            </td>
        </tr>

        <tr>
            <td>
                <img src="~/Img/image2.jpg" />

            </td>
            <td>
                Buying sunglasses for men online can be tricky <br /> since you cannot test the tangible quality of the product or experience the comfort of wearing them. <br /> Head over to your nearest Gangar Eyenation store to browse through the most stylish sunglasses for men and gifting yourself an accessory that becomes your new style statement

            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Bulk Enquiry</button>
            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Order Online</button>
            </td>
        </tr>

        <tr>
            <td>
                <img src="~/Img/image2.jpg" />

            </td>
            <td>
                Buying sunglasses for men online can be tricky <br /> since you cannot test the tangible quality of the product or experience the comfort of wearing them. <br /> Head over to your nearest Gangar Eyenation store to browse through the most stylish sunglasses for men and gifting yourself an accessory that becomes your new style statement

            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Bulk Enquiry</button>
            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Order Online</button>
            </td>
        </tr>

        <tr>
            <td>
                <img src="~/Img/image2.jpg" />

            </td>
            <td>
                Buying sunglasses for men online can be tricky <br /> since you cannot test the tangible quality of the product or experience the comfort of wearing them. <br /> Head over to your nearest Gangar Eyenation store to browse through the most stylish sunglasses for men and gifting yourself an accessory that becomes your new style statement

            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Bulk Enquiry</button>
            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Order Online</button>
            </td>
        </tr>

        <tr>
            <td>
                <img src="~/Img/image2.jpg" />

            </td>
            <td>
                Buying sunglasses for men online can be tricky <br /> since you cannot test the tangible quality of the product or experience the comfort of wearing them. <br /> Head over to your nearest Gangar Eyenation store to browse through the most stylish sunglasses for men and gifting yourself an accessory that becomes your new style statement

            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Bulk Enquiry</button>
            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Order Online</button>
            </td>
        </tr>

        <tr>
            <td>
                <img src="~/Img/image2.jpg" />

            </td>
            <td>
                Buying sunglasses for men online can be tricky <br /> since you cannot test the tangible quality of the product or experience the comfort of wearing them. <br /> Head over to your nearest Gangar Eyenation store to browse through the most stylish sunglasses for men and gifting yourself an accessory that becomes your new style statement

            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Bulk Enquiry</button>
            </td>
            <td>
                <button id="blkenquiry" class="btn btn-primary">Order Online</button>
            </td>
        </tr>

    </tbody>

</table>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });
    </script>
}